venv/
__pycache__/
*.pyc
.pytest_cache/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/checkpoints/*.pt
models/checkpoints/*.pth
!models/checkpoints/.gitkeep
outputs/alphabets/*
outputs/generated_text/*
!outputs/alphabets/.gitkeep
!outputs/generated_text/.gitkeep
.streamlit/
*.log
.DS_Store
